<div class="row">
  <div class="col-sm-12"><h5><u>Provisiones Asscoadas</u></h5></div>
</div>
<form [formGroup]="provisionesSearchForm" novalidate>
    <div class="row content-search justify-content-end">
      <mat-form-field appearance="outline" id="search">
        <mat-label>{{'Buscar'}}</mat-label>
        <input matInput placeholder="{{'Buscar'}}" autocomplete="off" formControlName="provisionesSearch">
      </mat-form-field>
    </div>
</form>
<adif-data-table
  [dataTableSource]="dataTableSource" 
  [displayedColumns]="columnsToDisplay"
  [columnsParams]="columnsParams"
  [datalength]="datalength"
  (requestPage)="requestPage($event)"
  [loading]="loading">
</adif-data-table>
<div class="row justify-content-center">
  <div class="actions">
      <button mat-stroked-button [routerLink]="'provisiones-asscoadas-actions'">Nuevo</button>
      <button mat-stroked-button [disabled]="!dataSourceSelected">Borrar</button>
  </div>
</div>
