.content-search {
    margin: 0;
    #search {
        width: 40%;
    }
}

.actions {
    margin-top: 20px;
    button {
        margin-right: 10px;
        cursor: pointer;
    }
}

h5 {
    color: #001D20;
}