<section class="container">
  <div class="row">
    <div class="col-sm-12">
        <div id="header"></div>
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-3">
      <ul class="list-group mb-5">
          <li class="list-group-item">
            <div><u>PROCESOS</u></div>
            <ul class="nav nav-pills flex-column procesos-group">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cierres-contables" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Cierres Contables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/provisiones-asscoadas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Provisiones Asscoadas</a>
                </li>
            </ul>
          </li>
      </ul>
    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
  </div>
  <footer id="main-footer">
    <div class="container bg-light">
      <div class="row">
        <div class="col text-right py-3">© 2019 ADIF</div>
      </div>
    </div>
  </footer>
</section>
